@page
@model Find_A_Tutor.Frontend.Pages.StudentModel
@{
    ViewData["Title"] = "StudentView";
}

<h1>StudentView</h1>
<table>
    @foreach (var item in Model.privateLessons)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.StudentId</td>
            <td>@item.TutorId</td>
            <td>@item.CreatedAt</td>
            <td>@item.TakenAt</td>
            <td>@item.UpdatedAt</td>
            <td>@item.RelevantTo</td>
            <td>@item.Description</td>
            <td>@item.Subject</td>
            <td>@item.IsAssigned</td>
            <td>@item.IsPaid</td>
            <td>@item.IsDone</td>
        </tr>
    }
</table>

