@page
@model Find_A_Tutor.Frontend.Pages.StudentModel
@{
    ViewData["Title"] = "Student panel 🎓";
}
<link rel="stylesheet" type="text/css" href="~/css/main.css">

<div class="container">
    <div class="row">
        <div class="col-6">
            <h2>Student panel 🎓</h2>
        </div>
        <div class="col-6">
            <a href="/NewLesson">
                <p class="text-right">Create new announcement ✒️</p>
            </a>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12" style="overflow-x:auto;">
            @if (Model.privateLessons.Value.Count() > 0 && Model.privateLessons.IsSuccess)
            {
                <table>
                    <tr>
                        <th>CreatedAt</th>
                        <th>TakenAt</th>
                        <th>RelevantTo</th>
                        <th>Description</th>
                        <th>Subject</th>
                        <th>Assigned?</th>
                        <th>Paid?</th>
                        <th>Completed?</th>
                        <th>Details</th>
                    </tr>
                    @foreach (var item in Model.privateLessons.Value)
                    {
                        <tr>
                            <td>@item.CreatedAt.Value.ToString("dd.MM.yyyy")</td>
                            <td>@(item.TakenAt.HasValue ? item.TakenAt.Value.ToString("dd.MM.yyyy") : null)</td>
                            <td>@(item.RelevantTo.HasValue ? item.RelevantTo.Value.ToString("dd.MM.yyyy") : null)</td>
                            <td>@item.Description</td>
                            <td>@item.Subject</td>
                            <td>@(@item.IsAssigned.Value ? "✔️" : "❌")</td>
                            <td>@(@item.IsPaid.Value ? "✔️" : "❌")</td>
                            <td>@(@item.IsDone.Value ? "✔️" : "❌")</td>
                            <td><a asp-page="/Details" asp-route-Id="@item.Id">Details</a></td>
                        </tr>
                    }
                </table>
            }
            else
            {
                <p>No announcements</p>
            }
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            @foreach (var msg in Model.Messages)
            {
                <p class="msg">@msg</p>
            }
        </div>
    </div>
</div>
