@page
@model Find_A_Tutor.Frontend.Pages.TutorModel
@{
    ViewData["Title"] = "Tutor panel";
}

<link rel="stylesheet" type="text/css" href="~/css/newLesson.css">

<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>Tutor panel</h2>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12">
            @if (Model.privateLessons.IsSuccess)
            {
                <table>
                    <tr>
                        <th>CreatedAt</th>
                        <th>TakenAt</th>
                        <th>RelevantTo</th>
                        <th>Description</th>
                        <th>Subject</th>
                        <th>IsAssigned</th>
                        <th>IsPaid</th>
                        <th>IsDone</th>
                        <th>Take</th>
                    </tr>
                    @foreach (var item in Model.privateLessons.Value)
                    {
                        <tr>
                            <td>@item.CreatedAt</td>
                            <td>@item.TakenAt</td>
                            <td>@item.RelevantTo</td>
                            <td>@item.Description</td>
                            <td>@item.Subject</td>
                            <td>@item.IsAssigned</td>
                            <td>@item.IsPaid</td>
                            <td>@item.IsDone</td>
                            <td><a asp-page-handler="AssingPrivateLesson" asp-route-id="@item.Id">Take</a></td>
                        </tr>
                    }
                </table>
            }
            else
            {
                <p>No announcements</p>
            }
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            @foreach (var msg in Model.Messages)
            {
                <p class="msg">@msg</p>
            }
        </div>
    </div>
</div>
